@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');

@font-face {
    font-family: gallientFont;
    src: url("/assets/fonts/GallientDemoVersion-Regular\ 400.otf");
}

@font-face {
    font-family: harmondFont;
    src: url(../fonts/Harmond-SemiBoldCondensed.otf);
}

@font-face {
    font-family: number5;
    src: url(../fonts/FogtwoNo5.otf);
}

:root {
    --bg: #caff6e;
    /* #caff6e */
}

*{
    box-sizing: border-box;
    overscroll-behavior-x: contain;
}

body{
    height: 100vh;
    margin: 0;
    background-color: var(--bg);
}

.navbar{
    outline: 2px solid black;
    position: fixed;
    width: 100%;
    height: 75px;
    line-height: 4vw;
    font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e5f4cd;
    /* z-index: 1000; */
}

/* Code for text transform on navbar*/
#myname{
    font-family: 'Inter', sans-serif;
    text-transform: lowercase;
    font-size: 28px;
    margin: 2%;
    color: #caff6e;
    -webkit-text-stroke: 0.5px black; /* width and color */
}

#menu{
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: #caff6e;
    -webkit-text-stroke: 0.5px black; /* width and color */
}

/* Intro Section of the website */
.intro{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100dvh;
}

#text-top{
    margin-top: 15%;
    margin-left: 2%;
    outline: 2px solid grey;
    line-height: 5vw;
    font-size: 5vw;
    max-width: 70%;
    border-radius: 1px;
    background-color: #bba0bb;
}

#text-bottom{
    padding: 0;
    margin-top: 0;
    margin-left: 2%;
    line-height: 2.5vw;
    font-size: 2.5vw;
    max-width: 70%;
}

[data-scroll-out="opacity"] {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}
  
[data-scroll-direction="horizontal"].is-inview [data-scroll-out="opacity"] {
    opacity: 0;
}  

/* Project Section of the website */
.projects{
    background-color: #39512f;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100dvh;
    color: #f5f2eb;
    margin: 0;
    padding: 0;
}

.contact-bar {
    height: 100%;
    width: 5%;
    background-color: #bba0bb;
    border: 3px solid #d6bed6;
    cursor: pointer;
}

.work-heading{
    margin-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.work-content{
    width: 75%;
    height: 350px;
}

.work-titles{
    display: flex;
    justify-content: space-around;
}

.touch, .py{
    padding: 0;
    font-family: gallientFont;
    font-size: 4vw;
    cursor: pointer;
}

.proj-menu{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: #d1b5d1;
    font-size: 4vw;
    margin-left: auto;
    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: height 1.5s cubic-bezier(1,.02,.56,1.01); /* Add a CSS transition with a custom timing function */
    transition: opacity 1.5s cubic-bezier(1,.02,.56,1.01); /* Add a CSS transition with a custom timing function */
}

.work.hidden {
    opacity: 0; /* Set the opacity of the ul element to 0 when it is hidden */
    display: none; /* Hide the ul element */
}

li{
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 90%);
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    border-top: solid;
    transition: height 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); /* Add a CSS transition with a custom timing function */
}

a{
    padding: 0;
    margin: 0;
}

.small-head{
    font-family: 'Inter', sans-serif;
    line-height: 1.5em;
    font-size: 1.5em;
    margin-left: 5%;
}

.small-body{
    font-family: 'Inter', sans-serif;
    line-height: 1.5em;
    font-size: 1.5em;
    font-weight: 200;
    position: absolute;
    transform: translateX(450px);
}

.link{
    line-height: 1.5em;
    font-size: 1.5em;
    margin-right: 5%;
    cursor: pointer;
    margin-left: auto;
}

.selected-project{
    text-decoration: underline;
}

.in-detail{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #f5f2eb;
    color: #39512f;
    width: 100%;
    height: 0%;
    border: 1px solid #f5f2eb;
    transition: height 1s ease-in-out; /* Add a CSS transition with a custom timing function */
}

.in-detail.hidden {
    opacity: 0; /* Set the opacity of the ul element to 0 when it is hidden */
    display: none; /* Hide the ul element */
}

.exit{
    position: absolute; /* Set position to absolute */
    top: 0;
    right: 0; /* Position to the top-right corner */
    font-family: gallientFont;
    font-size: 6vw;
    width: 5vw;
    cursor: pointer;
    background: none;
    background-color: #f5f2eb;
    transition: width 1s ease-in-out;
}

.detail-pic{
    flex: 2;
    width: 100%;
    background-image: url(/assets/img/spreehalle.jpeg);
    background-position: center center;
    transition: opacity 1s ease-in-out; /* Add a CSS transition with a custom timing function */
}

.by-line{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 20%;
    width: 100%;
    background-color: #4d796e;
}

.title{
    font-size: 6vw;
    opacity: 0;
    color: #f5f2eb;
    transition: opacity 3s ease-in-out; /* Add a CSS transition with a custom timing function */
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .small-body{
        opacity: 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .small-body{
        opacity: 0;
    }

    #text-top{
        margin-top: 25%;
        line-height: 7.5vw;
        font-size: 7.5vw;
        max-width: 85%;
    }

    #text-bottom{
        line-height: 6vw;
        font-size: 6vw;
        max-width: 80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .small-body{
        opacity: 0;
    }

    #text-top{
        margin-top: 15%;
        margin-left: 2%;
        outline: 2px solid grey;
        line-height: 5vw;
        font-size: 5vw;
        max-width: 70%;
        border-radius: 1px;
        background-color: #bba0bb;
    }
    
    #text-bottom{
        padding: 0;
        margin-top: 0;
        margin-left: 2%;
        line-height: 2.5vw;
        font-size: 2.5vw;
        max-width: 70%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .small-body{
        opacity: 0;
    }

    #text-top{
        margin-top: 15%;
        margin-left: 2%;
        outline: 2px solid grey;
        line-height: 5vw;
        font-size: 5vw;
        max-width: 70%;
        border-radius: 1px;
        background-color: #bba0bb;
    }
    
    #text-bottom{
        padding: 0;
        margin-top: 0;
        margin-left: 2%;
        line-height: 2.5vw;
        font-size: 2.5vw;
        max-width: 70%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .small-body{
        opacity: 0;
    }

    #text-top{
        margin-top: 15%;
        margin-left: 2%;
        outline: 2px solid grey;
        line-height: 5vw;
        font-size: 5vw;
        max-width: 70%;
        border-radius: 1px;
        background-color: #bba0bb;
    }
    
    #text-bottom{
        padding: 0;
        margin-top: 0;
        margin-left: 2%;
        line-height: 2.5vw;
        font-size: 2.5vw;
        max-width: 70%;
    }
}