@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');

@font-face {
    font-family: gallientFont;
    src: url("/assets/fonts/GallientDemoVersion-Regular\ 400.otf");
}

@font-face {
    font-family: harmondFont;
    src: url(../fonts/Harmond-SemiBoldCondensed.otf);
}

@font-face {
    font-family: number5;
    src: url(../fonts/FogtwoNo5.otf);
}

:root {
    --bg: #caff6e;
    /* #caff6e */
}

*{
    box-sizing: border-box;
    overscroll-behavior-x: contain;
}

body{
    height: 100vh;
    margin: 0;
    background-color: var(--bg);
}

.navbar{
    outline: 2px solid black;
    position: fixed;
    width: 100%;
    height: 75px;
    line-height: 40px;
    font-size: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e5f4cd;
    /* z-index: 1000; */
}

/* Code for text transform on navbar*/
#myname{
    font-family: 'Inter', sans-serif;
    text-transform: lowercase;
    margin: 2%;
    color: #caff6e;
    -webkit-text-stroke: 0.5px black; /* width and color */
}

#menu{
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: #caff6e;
    -webkit-text-stroke: 0.5px black; /* width and color */
}

/* Intro Section of the website */
.intro{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100dvh;
}

#text-top{
    margin-top: 15%;
    margin-left: 2%;
    outline: 1px solid grey;
    line-height: 63px;
    font-size: 60px;
    max-width: 70%;
}

#text-bottom{
    padding: 0;
    margin-top: 0;
    margin-left: 2%;
    line-height: 53px;
    font-size: 40px;
    max-width: 70%;

}

[data-scroll-out="opacity"] {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}
  
[data-scroll-direction="horizontal"].is-inview [data-scroll-out="opacity"] {
    opacity: 0;
}  

/* Project Section of the website */
.projects{
    background-color: #39512f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100dvh;
    color: #f5f2eb;
    margin: 0;
    padding: 0;
}

.work-heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.touch, .py{
    font-family: gallientFont;
    font-size: 3rem;
    margin-left: auto;
    cursor: pointer;
}

.proj-menu{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: #bba0bb;
    font-size: 3rem;
    margin-left: auto;
    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    height: 75%;
    margin: 0;
    padding: 0;
}

li{
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 90%);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: solid;
}

a{
    padding: 0;
    margin: 0;
}

.small-head{
    font-family: 'Inter', sans-serif;
    line-height: 1.5em;
    font-size: 1.5em;
}

.small-body{
    font-family: 'Inter', sans-serif;
    line-height: 1.5em;
    font-size: 1.5em;
    font-weight: 200;
}

.link{
    font-family: gallientFont;
    line-height: 1.5em;
    font-size: 1.5em;
    cursor: pointer;
}

.selected-project{
    text-decoration: underline;
}

.contact-bar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; /* Set the height of the navbar to full container height */
    background-color: #f2f2f2;
    transform: translateX(100%); /* Hide the navbar by default */
    transition: transform 0.3s ease-in-out; /* Add a transition effect to the transform property */
}